<nav class="navbar navbar-expand-lg" style="background-color: var(--secondary-color)">
    <div class="container-fluid">
    
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="150">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Journal</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">MyDil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">BDE</a>
                </li>

            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if username %}
                    
                    {% if session.get('role') == 1 %}
                        <li class="nav-item">
                            <a class="btn btn-secondary" aria-current="page" href="{{ url_for('post') }}"><i class="fa-solid fa-plus"></i></a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('account', username=username) }}">Mon compte</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>                    
                {% else %}
                    <div class="d-flex justify-content-center align-items-center gap-4">
                        <a href="{{ url_for('login') }}" class="btn btn-secondary">Connexion</a>
                        <a href="{{ url_for('register') }}" class="btn btn-secondary" >Inscription</a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>